<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--任务调度redis服务配置-->
    <add key="JobServer_Host" value="192.168.4.126" />
    <add key="JobServer_Post" value="6379" />
    <add key="JobServer_Db_Index" value="1" />
    <!--End-->
  </appSettings>
</configuration>